<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fill-up Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()" fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="txtName" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="txtPassword" type="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ng-model="someModelIamUsing" [(ngModel)]="txtEmail"
            pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select interface="popover" [(ngModel)]="txtGender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Date of Birth</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="txtDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" (click)="clearAD()" color="danger">Clear</ion-button>
              </ion-col>
              <ion-col>
                <ion-button id="btnConfirm" expand="block" (click)="confirmAS()" (mouseover)="hoverColorSuccess()"
                  (mouseout)="hoverColorPrimary()">Confirm</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>


      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>